HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
src/ui/.vscode/


.DS_Store
src/ui/node_modules
src/ui/node
src//ui//dist


# local env files
.env.local
.env.*.local

# Log files
src/ui/npm-debug.log*
src//ui/yarn-debug.log*
src/ui/yarn-error.log*
src/ui/pnpm-debug.log*

# Editor directories and files
src/ui/.idea
src/ui/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?